<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <link rel="stylesheet" href="./../../../assets/bootstrap/css/bootstrap.min.css">
  <!--Fontawesome-->
  <link rel="stylesheet" href="./../../../assets/fontawesome/css/all.css">
  <!--Custom CSS file-->
  <link rel="stylesheet" href="./../scss/app.css">
  <title>Edit Profile</title>
</head>
<body>
  <!--Header-->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-12 header-link">
          <a href="./../driver-profile.html"><h3>
            <i class="fas fa-arrow-left"></i>
          </h3></i></a>
          <h3>Shift Orders</h3>
        </div>
      </div>
    </div>
  </header>
<!--===================
  Start Of Main Form
=====================-->
<main id="orders">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <!--Order-1-->
       <div class="card order-card">
         <div class="card-body">
           <p class="semibold mb-2">Monday, 23rd Nov, 2020</p>
           <p class="semi-small blur-text mb-1">Period: DT3 - 2hrs</p>
           <p class="semi-small blur-text mb-3">Schedule: 05:00 PM - 07:00 PM</p>
           <a href="./rota.html" class="midsize-btn">Accept</a>
         </div>
       </div>
        <!--Order-3-->
        <div class="card order-card">
          <div class="card-body">
            <p class="semibold mb-2">Tuesday, 24th Nov, 2020</p>
            <p class="semi-small blur-text mb-1">Period: DT3 - 2hrs</p>
            <p class="semi-small blur-text mb-3">Schedule: 02:00 PM - 08:00 PM</p>
            <a href="./rota.html" class="midsize-btn">Accept</a>
          </div>
        </div>
         <!--Order-3-->
         <div class="card order-card">
          <div class="card-body">
            <p class="semibold mb-2">Wednesday, 25th Nov, 2020</p>
            <p class="semi-small blur-text mb-1">Period: DT3 - 2hrs</p>
            <p class="semi-small blur-text mb-3">Schedule: 01:00 PM - 07:00 PM</p>
            <a href="./rota.html" class="midsize-btn">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--===================
  Start Of Main Form
=====================-->
<!--JS File-->
</body>
</html>