#profile-header{
  position: relative;
  width: 100%;
  .profile-container{
    @include header;
    .driver-profile{
      @include vertical-align;
      height: 68px;
      .driver-img{
        width: 64px;
        height: 64px;
        border: 2px solid $danger-color;
        border-radius: 50%;
      }
      .driver-name{
        margin-left: 1rem;
        height: 51px;
      }
    }
    .button-container{
      border: 1.5px solid $denim-color;
      border-radius: 6px;
      background-color: $bg-color;
      padding: .3rem .5rem;
      .edit-profile{
        color: $denim-color;
        font-size: 1.2rem;
        &:hover{
          color: $denim-color;
        }
      }
    }
  }
}
/*==============
    Calender
===============*/
#work-history{
  margin-bottom: .4rem;
  .weekly-container{
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .weekly{
      min-width: 270px;
      background-color: $white-color;
      border: 1px dashed $denim-color;
      border-radius: $border-radious;
      padding: 1.2rem .7rem;
      .weekly-header{
        @include vertical-align;
        .calendar-icon{
          width: 48px;
          height: 48px;
          background-color: $denim-color;
          border-radius: 50%;
          color: $white-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          margin-right: .8rem;
        }
      }
      .week-header{
        #header-data{
          @include flex;
          margin-top: 1.2rem;
        }
      }
      .dashed-line{
        border-top: 1px dashed $muted-denim;
        margin-top: 1.2rem;
        margin-bottom: .2rem;
      }
      .dashed-border{
        border-top: 1px dashed $muted-denim;
        margin-top: .2rem;
        margin-bottom: .2rem;
      }
      .week-data{
        @include flex;
        margin-top: 1rem;
      }
      #data-container{
        @include flex;
        .data{
          margin-top: .5rem;
          p{
            margin-bottom: .57rem;
          }
        }
      }
    }
  }
}
/*==============
    Buttons
===============*/
#buttons-section{
  position: relative;
  @include main-padding;
  padding-bottom: 1.4rem;
  .buttons-container{
    .lgsize-btn{
      margin-bottom: 1.4rem;
    }
    .notification{
      display: flex;
      justify-content: center;
      #noti-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        width: 64px;
        height: 64px;
        background-color: $bg-color;
        border-radius: 50%;
        box-shadow: $box-shadow;
        &:focus{
          outline: none;
        }
      }
    }
  }
}
/*Dark layer*/
#dark-layer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 22;
  display: none;
}
/*==============
    Chat
===============*/
#chat{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 33;
  display: none;
  .chat-container{
    position: relative;
    height: 320px;
    background-color: $white-color;
    border-radius: $border-radious;
    padding: 1rem;
    &::after{
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: $white-color transparent transparent transparent;
    }
    #date-container{
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    #message-box{
      margin: 2rem auto;
      overflow-y: scroll;
      height: 200px;
      padding-top: .5rem;
      .profile-container{
        @include flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;
        .img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: .8rem;
        }
      }
    }
    #chat-form{
      width: 90%;
      margin: 0 auto;
      position: absolute;
      bottom: 1.2rem;
      right: 1rem;
      left: 1rem;
      input{
        position: relative;
        width: 100%;
        padding: .5rem;
        padding-right: 3rem;
        border: 1px solid $muted-denim;
        border-radius: 4px;
        color: $denim-color;
        &:focus{
          outline: none;
        }
      }
      button{
        position: absolute;
        right: .1rem;
        bottom: .1rem;
        border: none;
        outline: none;
        background-color: transparent;
        svg{
          fill: $denim-color;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
  .btn-container{
    @include flex;
    justify-content: center;
    margin: 1rem auto;
    .close-chat{
      background-color: $white-color;
      border: none;
      outline: none;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      font-size: 1.4rem;
    }
  }
}