#shift-week{
  @include main-padding;
  .pagination-container{
    @include flex;
    margin-top: 1.4rem;
    .pagination{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      .pagi-link{
        width: 40px;
        height: 40px;
        border: 1px solid $muted-denim;
        border-radius: 50%;
        background-color: transparent;
        @include vertical-align;
        justify-content: center;
        margin-left: .4rem;
        transition: all .4s ease-in;
        a{
          font-size: 14px;
          font-weight: 600;
          color: $muted-denim;
        }
        &:hover{
          background-color: $denim-color;
          border-color: $denim-color;
          a{
            color: $white-color;
          }
        }
      }
      .active{
        background-color: $denim-color;
        border-color: $denim-color;
        a{
          color: $white-color;
        }
      }
    }
  }
  /*Week Summary*/
  .week-summary{
    margin-bottom: 1rem;
    .summary{
      @include flex;
      p{
        color: black;
      }
      .date{
        display: flex;
        p{
          margin-right: 1rem;
          color: black;
        }
      }
    }
    .underline{
      border: none;
      height: 0;
      border-top: 1.2px solid $secondary-color;
    }
  }
}


/*Message Button*/
#notifi .notifi-container .notification{
  display: flex;
  justify-content: center;
  #noti-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
    margin-right: .8rem;
    background-color: $bg-color;
    border-radius: 50%;
    box-shadow: $box-shadow;
    &:focus{
      outline: none;
    }
  }
}
#notifi .notifi-container .notifica{
  width: 60px;
  height: 60px;
}
@media (max-width: 374px) {
  #notifi .notifi-container .notifica{
    width: 50px;
    height: 50px;
  }
  #notifi .notifi-container .notification #noti-btn{
    width: 50px;
    height: 50px;
  }
}