#allorders{
  @include main-padding;
  .res-btn{
    @include flex;
    .heading{
      @include vertical-align;
      #icon{
        margin-left: 1rem;
        margin-bottom: -5px;
      }
    }
    .midsize-btn{
      width: 160px;
      justify-content: center;
      color: $danger-color;
    }
  }
  .instructions{
    margin-top: 1.4rem;
    .instruction-desc{
      border: 1px dashed $denim-color;
      border-radius: $border-radious;
      background-color: $white-color;
      padding: 1rem;
      overflow: hidden;
      height: 60px;
      .heading{
        margin-bottom: .8rem;
        @include flex;
        #show-istructions{
          outline: none;
          border: none;
          background: transparent;
          .hide{
            display: none;
          }
          .hide-icon{
            display: none;
          }
          .show-icon{
            display: block;
          }
        }
      }
    }
    .show-instruction{
      height: auto;
    }
  }
  .delivered{
    margin-top: 1.4rem;
    padding-bottom: 0;
    .client-name{
      @include flex;
      .client-numb{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $success-color;
        h4{
          color: $white-color;
          font-weight: bold;
        }
      }
    }
    .client-address{
      @include flex;
      align-items: flex-end;
      svg{
        fill: $muted-denim;
      }
    }
    .card-link{
      a{
        text-decoration: none;
        color: $denim-color;
        p{
          @include vertical-align;
          justify-content: center;
          svg{
            width: 20px;
            height: 20px;
            fill: $denim-color;
          }
        }
      }
    }
    .green-footer{
      background-color: $success-color;
      @include flex;
      width: 100%;
      border: none;
      border-radius: 0 0 $border-radious $border-radious;
      color: $white-color;
      h4{
        font-weight: bold;
      }
    }
  }
  /*Cancelled Delivery Card*/
  .cancelled-delivery{
    margin-top: 1.4rem;
    padding-bottom: 0;
    .client-name{
      @include flex;
      .cancel-container{
        @include flex;
        .client-numb{
          margin-left: 1rem;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: $danger-color;
          h4{
            color: $white-color;
            font-weight: bold;
          }
        }
      }
    }
    .client-address{
      @include flex;
      align-items: flex-end;
      svg{
        fill: $muted-denim;
      }
    }
    .card-link{
      a{
        text-decoration: none;
        color: $denim-color;
        p{
          @include vertical-align;
          justify-content: center;
          svg{
            width: 20px;
            height: 20px;
            fill: $denim-color;
          }
        }
      }
    }
    .red-footer{
      background-color: $danger-color;
      @include flex;
      width: 100%;
      border: none;
      border-radius: 0 0 $border-radious $border-radious;
      color: $white-color;
      h4{
        font-weight: bold;
      }
    }
  }
  /*Next Delivery*/
  .next-delivery{
    margin-top: 1.4rem;
    padding-bottom: 0;
    .client-name{
      @include flex;
      .cancel-container{
        @include flex;
        .client-numb{
          margin-left: 1rem;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: $blue;
          h4{
            color: $white-color;
            font-weight: bold;
          }
        }
      }
    }
    .client-address{
      @include flex;
      align-items: flex-end;
      svg{
        fill: $muted-denim;
      }
    }
    .blue-footer{
      background-color: $blue;
      @include flex;
      width: 100%;
      border: none;
      border-radius: 0 0 $border-radious $border-radious;
      color: $white-color;
      h4{
        font-weight: bold;
      }
    }
  }
}