.preloader-container{
  min-width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  padding-top: 20%;
  z-index: 999;
  .outline{
    width: 175px;
    height: 175px;
    border: 1px solid $white-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce3 2s ease-in-out infinite;
    .midline{
      width: 150px;
      height: 150px;
      border: 2px solid $white-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: bounce2 2s ease-in-out infinite;
      .logo-container{
        width: 130px;
        height: 130px;
        background-color: $violet-color;
        border: 4px solid $white-color;
        border-radius: 50%;
        @include vertical-align;
        flex-direction: column;
        justify-content: center;
        h2{
          color: $white-color;
        }
        h3{
          color: $white-color;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}


#home-header{
  width: 100%;
  .header{
    @include header;
    .driver-profile{
      @include vertical-align;
      height: 68px;
      .driver-img{
        width: 64px;
        height: 64px;
        border: 2px solid $danger-color;
        border-radius: 50%;
      }
      .driver-name{
        margin-left: 1rem;
        height: 51px;
      }
    }
    #pen-btn{
      width: 48px;
      height: 48px;
      border-radius: $border-radious;
      box-shadow: $box-shadow;
      cursor: pointer;
      a{
        padding: .6rem .9rem;
        display: block;
        svg{
          width: 20px;
          height: 30px;
          fill: $violet-color;
        }
      }
    }
  }
}
/*Menu*/
#menu{
  padding-top: 2rem;
  .menu-item{
    margin-bottom: 1.4rem;
    .card-body{
      svg{
        width: 40px;
        height: 40px;
        margin-bottom: .5rem;
        fill: $denim-color;
      }
    }
  }
}
/*Direct Orders*/
.direct-orders{
  margin-top: .6rem;
  .direct-title{
    margin-bottom: .8rem;
    @include flex;
    .title-btn{
      @include flex;
      .h4-bold{
        color: $violet-color;
        margin-right: .5rem;
      }
      #manager-btn{
        width: 48px;
        height: 48px;
        border-radius: $border-radious;
        box-shadow: $box-shadow;
        @include flex;
        justify-content: center;
        svg{
          fill: $violet-color;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .slider-container{
    background-color: $bg-color;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding-top: .8rem;
    padding-bottom: 1rem;
    margin-top: .5rem;
    overflow-x: hidden;
    .slider-card{
      margin-right: .5rem;
      .card-body{
        .order-numb{
          @include flex;
          .order-count{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $violet-color;
            @include vertical-align;
            justify-content: center;
            p{
              color: $white-color;
            }
          }
        }
        .blur-text{
          @include vertical-align;
          svg{
            fill: $muted-denim;
          }
        }
      }
    }
  }
}
/*Animation*/
@keyframes bounce3 {
  0% {
    transform: scale(.85);
    opacity: .94;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(.85);
    opacity: .94;
  }
}
@keyframes bounce2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}