.notification-header{
  @include blue-header;
}
/*Main Section*/
#notification{
  @include main-padding;
  .notification-card{
    margin-bottom: 1.4rem;
    .driver-name{
      @include flex;
      .driver-numb{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $danger-color;
        color: $white-color;
        @include flex;
        justify-content: center;
      }
    }
    .driver-address{
      @include flex;
      .text p{
        svg{
          fill: $muted-denim;
        }
      }
    }
    .card-button{
      margin-top: .8rem;
      .lgsize-btn{
        justify-content: center;
      }
    }
  }
}
/*Contact Manager*/
#contact-manager{
  @include vertical-align;
  .white-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    z-index: 11;
    display: none;
    transition: all .5s ease-out;
  }
  .dark-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    transition: all .5s ease-out;
    z-index: 22;
  }
  .contact-manager-form{
    background-color: $bg-color;
    position: absolute;
    left: 5%;
    top: 23%;
    z-index: 33;
    width: 90%;
    margin: 0 auto;
    border-radius: $border-radious;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    padding: 1.4rem;
    display: none;
    transition: all .5s ease-out;
    .form-header{
      @include flex;
      align-items: flex-start;
      #close-form-btn{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 1.3rem;
        color: $denim-color;
        &:focus{
          outline: none;
        }
      }
    }
    #select{
      margin-top: 1.4rem;
      @include input;
    }
    #complain{
      height: 6rem;
      resize: vertical;
      @include input;
      border-radius: $border-radious;
      &:placeholder{
        color: $muted-denim;
      }
    }
    .submit-btn{
      justify-content: center;
      margin-bottom: 1.4rem;
    }
  }
  .show-contact-form{
    display: block;
    transition: all .5s ease-in;
  }
}