#main{
  position: relative;
  @include main-padding;
  .card{
    padding-bottom: 0;
    margin: 1.4rem auto;
    .card-body{
      .client-ad{
        @include flex;
        svg{
          fill: $muted-denim;
        }
      }
      .qr-container{
        width: 236px;
        margin: 0 auto;
        .qr-code{
          background-color: $white-color;
          width: 100%;
          height: 236px;
          padding: .79rem;
          margin-top: 1.2rem;
          margin-bottom: 1.2rem;
          border-radius: 14px;
        }
        .qr-btns{
          @include flex;
          .outl-btn:hover, .active{
            border-color: $denim-color;
            color: $denim-color;
          }
        }
        .semibold{
          @include vertical-align;
          justify-content: center;
          margin: 1.2rem 0 .4rem 0;
          font-size: 1rem;
          color: $denim-color;
          svg{
            width: 26px;
            height: 26px;
            fill: $denim-color;
          }
        }
      }
    }
    .card-footer{
      background-color: $success-color;
      width: 100%;
      border: none;
      border-radius: 0 0 $border-radious $border-radious;
      @include flex;
      color: $white-color;
      h4{
        font-weight: bold;
      }
    }
  }
}