/*Colors*/
$ice-color:#17B4E3;
$blue:#4675C9;
$bg-color:#ECF0F3;
$denim-color:#193566;
$muted-denim:#7586A3;
$violet-color:#655DB3;
$white-color:#fff;
$red-color:#C43434;
$danger-color:#D46167;
$success-color:#39CA6C;
$secondary-color:#7C7C7E;
$warning-color:#E8C016;

/*Box*/
$border-radious:14px;

$box-shadow:5px 5px 14px #d4d8db, 
            -5px -5px 14px #ffffff;

$inset-shadow: inset 5px 5px 6px #cbced1, 
               inset -5px -5px 6px #ffffff;
