#head{
  position: relative;
  background-color: $bg-color;
  width: 100%;
  .header{
    @include header;
    .driver-profile{
      @include vertical-align;
      height: 68px;
      .driver-img{
        width: 64px;
        height: 64px;
        border: 2px solid $danger-color;
        border-radius: 50%;
      }
      .driver-name{
        margin-left: 1rem;
        height: 51px;
      }
    }
    .menu-btn{
      outline: none;
      border: none;
      border: 1.5px solid $denim-color;
      background-color: $bg-color;
      border-radius: 6px;
      padding: 1px 3px;
      cursor: pointer;
      svg{
        width: 28px;
        height: 30px;
        fill: $denim-color;
      }
    }
  }
  .menu{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: -100%;
    top: 0;
    transition: all .6s ease-out;
    z-index: 45;
    #close-menu{
      outline: none;
      border: none;
      float: right;
      background-color: transparent;
      font-size: 1.8rem;
      color: $white-color;
      margin-top: 1rem;
      margin-right: 1.3rem;
    }
    .menu-items-container{
      width: 78%;
      position: relative;
      min-height: 100vh;
      height: 100%;
      background: $bg-color;
      #menu-items{
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 3rem;
        width: 100%;
        background: $bg-color;
        list-style-type: none;
        z-index: 2;
        .menu-links{
          padding: .8rem 0;
          border-bottom: 1px solid $secondary-color;
          &:last-child{
            border: none;
          }
          a{
            color: $denim-color;
            font-weight: 600;
            @include vertical-align;
            &:hover{
              color: $denim-color;
            }
            svg{
              width: 28px;
              height: 28px;
              fill: $denim-color;
              margin-right: .4rem;
            }
          }
        }
        .menu-links-links{
          padding-right: 1rem;
          padding-top: .8rem;
          padding-bottom: .8rem;
          border-bottom: 1px solid $secondary-color;
          overflow: hidden;
          height: 51px;
          .links-items{
            @include flex;
            .menu-up{
              border: none;
              outline: none;
              background-color: transparent;
              color: $denim-color;
            }
            a{
              color: $denim-color;
            }
          }
          .list-of-links{
            list-style: none;
            li{
              margin-top: .7rem;
              margin-left: 1.4rem;
              a{
                font-weight: 600;
                color: $denim-color;
                &:hover{
                  color: $denim-color;
                }
              }
            }
          }
        }
        .show-links{
          height: auto;
        }
      }
    }
  }
  .show-menu{
    left: 0%;
  }
}