<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <link rel="stylesheet" href="./../../assets/bootstrap/css/bootstrap.min.css">
  <!--Fontawesome-->
  <link rel="stylesheet" href="./../../assets/fontawesome/css/all.css">
  <!--Owl-Carousel-->
  <link rel="stylesheet" href="./../../assets/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="./../../assets/owl-carousel/owl.theme.default.min.css">
  <!--Custom CSS file-->
  <link rel="stylesheet" href="./scss/app.css">
  <title>Profile</title>
</head>
<body>
<!--===============
  Start Of Header
=================-->
  <header id="profile-header">
    <div class="container">
      <div class="row">
        <div class="col-12 profile-container">
          <div class="driver-profile">
            <div class="driver-img">
              <img src="./../../components/images/driver-img.png" class="img-fluid" alt="driver photo">
            </div>
            <div class="driver-name">
              <p class="driver-numb blur-text">Driver 1</p>
              <h3 id="driver-name">Adam Sandler</h3>
            </div>
          </div>
          <div class="button-container">
            <a href="./pages/edit-profile.html" class="edit-profile">
              <i class="fas fa-user-edit"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
<!--===============
  End Of Header
=================-->
<!--===============
  Start Of Calender
=================-->
<main id="work-history">
  <div class="container">
    <div class="row">
      <div class="col-12 weekly-container owl-carousel">
        <!--Weekly-1-->
        <div class="weekly">
          <div class="weekly-header">
            <div class="calendar-icon">
              <i class="far fa-calendar"></i>
            </div>
            <div>
              <p class="semi-small h4-bold blur-text">day 6, week 46</p>
              <p>Monday, 16 Nov, 2020</p>
            </div>
          </div>
          <div class="dashed-line"></div>
  <!--========Week Data===========-->
          <!--Data-1-->
          <div class="week-data">
            <p>Period</p>
            <p class="h4-bold">DT3</p>
          </div>
          <!--Data-2-->
          <div class="week-data">
            <p>Total hours to work</p>
            <p class="h4-bold">5</p>
          </div>
          <!--Data-3-->
          <div class="week-data">
            <p>Expected earnings</p>
            <p class="h4-bold">£120</p>
          </div>
          <!--Data-4-->
          <div class="week-data">
            <p>No. of deliveries</p>
            <p class="h4-bold">16</p>
          </div>
          <!--Data-5-->
          <div class="week-data">
            <p>Distance travelled</p>
            <p class="h4-bold">10 miles</p>
          </div>
          <!--Data-6-->
          <div class="week-data">
            <p>No. of hours worked</p>
            <p class="h4-bold">5 hrs</p>
          </div>
  <!--========End Of Week Data=======-->
        </div>
        <!--Weekly-2-->
        <div class="weekly">
          <div class="week-header">
            <h3 class="h4-bold text-center mt-1">Week 46</h3>
            <div id="header-data">
              <p class="small-font semibold blur-text">DAY</p>
              <p class="small-font semibold blur-text">DATE</p>
              <p class="small-font semibold blur-text">HRS</p>
              <p class="small-font semibold blur-text">DT1</p>
              <p class="small-font semibold blur-text">DT2</p>
              <p class="small-font semibold blur-text">DT3</p>
            </div>
          </div>
          <div class="dashed-border"></div>
  <!--========Week Data===========-->
          <div id="data-container">
            <!--Data-1-->
          <div class="data">
            <p class="semi-small">Mon</p>
            <p class="semi-small">Tue</p>
            <p class="semi-small">Wed</p>
            <p class="semi-small">Thu</p>
            <p class="semi-small">Fri</p>
            <p class="semi-small">Sat</p>
            <p class="semi-small">Sun</p>
          </div>
          <!--Data-2-->
          <div class="data">
            <p class="semi-small">16 Nov</p>
            <p class="semi-small">17 Nov</p>
            <p class="semi-small">18 Nov</p>
            <p class="semi-small">19 Nov</p>
            <p class="semi-small">20 Nov</p>
            <p class="semi-small">21 Nov</p>
            <p class="semi-small">22 Nov</p>
          </div>
          <!--Data-3-->
          <div class="data">
            <p class="semi-small">1</p>
            <p class="semi-small">5</p>
            <p class="semi-small">4</p>
            <p class="semi-small">2</p>
            <p class="semi-small">7</p>
            <p class="semi-small">3</p>
            <p class="semi-small">1</p>
          </div>
          <!--Data-4-->
          <div class="data">
            <p class="semi-small">7/11</p>
            <p class="semi-small">-</p>
            <p class="semi-small">-</p>
            <p class="semi-small">10:00</p>
            <p class="semi-small">02:00</p>
            <p class="semi-small">-</p>
            <p class="semi-small">-</p>
          </div>
          <!--Data-5-->
          <div class="data">
            <p class="semi-small">-</p>
            <p class="semi-small">08:02</p>
            <p class="semi-small">-</p>
            <p class="semi-small">-</p>
            <p class="semi-small">02:00</p>
            <p class="semi-small">-</p>
            <p class="semi-small">10:00</p>
          </div>
          <!--Data-6-->
          <div class="data">
            <p class="semi-small">04:12</p>
            <p class="semi-small">08:02</p>
            <p class="semi-small">-</p>
            <p class="semi-small">11:18</p>
            <p class="semi-small">02:00</p>
            <p class="semi-small">-</p>
            <p class="semi-small">10:00</p>
          </div>
          </div>
  <!--========End Of Week Data=======-->
        </div>
      </div>
    </div>
  </div>
</main>
<!--===============
  End Of Calender
=================-->
<!--===============
  Start Of Buttons
=================-->
<section id="buttons-section">
  <div class="container">
    <div class="row">
      <div class="co-12 buttons-container">
        <a href="./pages/shift-order.html" class="lgsize-btn">
          <p>Rota</p>
          <i class="fas fa-arrow-right"></i>
        </a>
        <a href="./pages/earning.html" class="lgsize-btn">
          <p>Earnings</p>
          <i class="fas fa-arrow-right"></i>
        </a>
        <div class="notification">
          <button type="button" id="noti-btn" onclick="openChat()">
            <svg width="32" height="30" viewBox="0 0 32 30">
              <defs>
                <style>
                  .cls-1 {
                    fill: #c43434;
                    stroke: #ecf0f3;
                    stroke-width: 2px;
                  }
            
                  .cls-2 {
                    fill: rgba(0,0,0,0);
                  }
            
                  .cls-3 {
                    stroke: none;
                  }
            
                  .cls-4 {
                    fill: none;
                  }
                </style>
              </defs>
              <g id="Group_12142" data-name="Group 12142" transform="translate(-16 -20)">
                <g id="Ellipse_5" data-name="Ellipse 5" class="cls-1" transform="translate(36 22)">
                  <circle class="cls-3" cx="5" cy="5" r="5"/>
                  <circle class="cls-4" cx="5" cy="5" r="6"/>
                </g>
                <g id="email-24px" transform="translate(16 22)">
                  <path id="Path_5428" data-name="Path 5428" class="cls-2" d="M0,0H28V28H0Z"/>
                  <path id="Path_5429" data-name="Path 5429" d="M23,4H4.333A2.33,2.33,0,0,0,2.012,6.333L2,20.333a2.34,2.34,0,0,0,2.333,2.333H23a2.34,2.34,0,0,0,2.333-2.333v-14A2.34,2.34,0,0,0,23,4Zm0,4.667L13.667,14.5,4.333,8.667V6.333l9.333,5.833L23,6.333Z" transform="translate(0.333 0.667)"/>
                </g>
              </g>
            </svg>            
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===============
  End Of Buttons
=================-->
<div id="dark-layer"></div>
<!--===============
  Start Of Chat
=================-->
<section id="chat">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="chat-container">
          <div id="date-container">
            <p class="small-font blur-text" id="date">Mon, 16 Nov 2020</p>
          </div>
          <!--Message Box-->
          <div id="message-box">
            <!--Message-1-->
            <div class="profile-container">
              <div class="img">
                <img src="./images/d-profile.png" alt="Driver Image" class="img-fluid">
              </div>
              <div>
                <p class="semibold">Driver Name</p>
                <p class="small-font blur-text">50 minute ago</p>
                <p id="message-tex" class="mt-2">am i working tomorrow?</p>
              </div>
            </div>
            <!--Message-2-->
            <div class="profile-container">
              <div class="img">
                <img src="./images/d-profile.png" alt="Driver Image" class="img-fluid">
              </div>
              <div>
                <p class="semibold">Manager Name</p>
                <p class="small-font blur-text">10 minute ago</p>
                <p id="message-tex" class="mt-2">Yes you are</p>
              </div>
            </div>
            <!--Message-3-->
            <div class="profile-container">
              <div class="img">
                <img src="./images/d-profile.png" alt="Driver Image" class="img-fluid">
              </div>
              <div>
                <p class="semibold">Driver Name</p>
                <p class="small-font blur-text">1 minute ago</p>
                <p id="message-tex" class="mt-2">Okay, thank you</p>
              </div>
            </div>
          </div>
          <!--End of Message Box-->
          <!--chat form-->
          <form action="#" id="chat-form">
            <input type="text" placeholder="Add Message">
            <button type="button">
              <svg aria-hidden="true" focusable="false" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M2 21l21-9L2 3v7l15 2l-15 2v7z"/></svg>
            </button>
          </form>
          <!--End of chat form-->
        </div>
        <div class="btn-container">
          <button type="button" class="close-chat" onclick="closeChat()">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===============
  End Of Chat
=================-->
<!--JS File-->
<script src="./js/app.js"></script>
<!--Owl-Carousel-->
<script src="./../../assets/jQuery/jquery.js"></script>
<script src="./../../assets/owl-carousel/owl.carousel.js"></script>
<script src="./../../assets/owl-carousel/owl.carousel.min.js"></script>
<script src="./js/slider.js"></script>
</body>
</html>